{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>CENTRAL SIK - Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900"> 
  <link rel="stylesheet" href="{% static 'registrasi/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'registrasi/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'registrasi/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'registrasi/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'registrasi/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'registrasi/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


  <link rel="stylesheet" href="{% static 'registrasi/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'registrasi/css/style2.css' %}">

</head>
<body>
    
    {% include "navbar2.html" %}
    {% block content %}


    {% endblock %}
    {% include "footer.html" %}


    <script src="{% static 'registrasi/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'registrasi/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'registrasi/js/jquery-ui.js' %}"></script>
    <script src="{% static 'registrasi/js/popper.min.js' %}"></script>
    <script src="{% static 'registrasi/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'registrasi/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'registrasi/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'registrasi/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'registrasi/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'registrasi/js/aos.js' %}"></script>
  
    <script src="{% static 'registrasi/js/mediaelement-and-player.min.js' %}"></script>
  
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'registrasi/js/main.js' %}"></script>
  
  </body>
  </html>