{% load static %}
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>About Us</h3>
          <p>Merupakan pusat pembelajaran mahasiswa prodi Sistem Informasi Kelautan Upi Serang. Memuat banyak informasi mengenai sumber belajar, rekomendasi tempat penelitian, dan kebutuhan mahasiswa SIK lainnya. </p>
        </div>
        <div class="col-lg-3 mx-auto">
          <h3>Navigation</h3>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3>Subscribe</h3>
          <p>Central.SIK</p>
          <form action="#" class="form-subscribe">
            <input type="email" class="form-control mb-3" placeholder="Enter Email">
            <input type="submit" class="btn btn-primary" value="Subscribe">
          </form>
        </div>
      </div>

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> Raissa </a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        
      </div>
    </div>
  </footer>